{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Your Fresh and Flavorful Source for Quality Fruits and Vegetables!</p>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h2 class="mb-4">Our Story</h2>
            <p class="text-justify">At [Company Name], we believe in the goodness of nature and the unparalleled freshness and taste of fruits and vegetables. Founded in [Year], our journey began with a simple mission: to provide communities with access to the finest, farm-fresh produce, straight from the source.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h2 class="mb-4">Our Commitment</h2>
            <ul>
                <li><strong>Quality Assurance:</strong> We take pride in sourcing only the highest quality fruits and vegetables.</li>
                <li><strong>Freshness Guaranteed:</strong> From orchards to your table, we prioritize freshness at every step.</li>
                <li><strong>Sustainability:</strong> We are committed to sustainable and eco-friendly practices.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h2 class="mb-4">What Sets Us Apart</h2>
            <ul>
                <li><strong>Diverse Selection:</strong> Whether you're looking for the juiciest fruits or the crispiest vegetables, our extensive range caters to all tastes and preferences.</li>
                <li><strong>Community Focus:</strong> We believe in building strong ties with the communities we serve.</li>
                <li><strong>Customer Satisfaction:</strong> Your satisfaction is our priority. Our dedicated team is always ready to assist you.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h2 class="mb-4">Join Us on the Journey</h2>
            <p class="text-justify">We invite you to explore the vibrant world of fresh produce with [Company Name]. Whether you're a food enthusiast, a health-conscious consumer, or someone who simply appreciates the joy of delicious, nutritious food, we're here to serve you.</p>
            <p class="text-justify">Thank you for choosing [Company Name]. Let's embark on a journey of taste, health, and sustainability together!</p>
        </div>
    </div>
</div>
{% endblock %}