{% extends 'blog/base.html' %}

{% block content %}

<!-- Get the last post from db -->
{% if posts %}
{% with posts|first as postobj %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-main-color">
    <div class="col-lg-6 px-0">
        <h1 class="display-6 fst-italic">{{ postobj.post_title }}</h1>
        <p class="lead my-3">{{ postobj.post_content | slice:':100' }}..</p>
        <p class="lead mb-0"><a href="{% url 'blog_detail' postobj.pk %}" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
</div>
{% endwith %}
{% else %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-main-color">
    <div class="col-lg-6 px-0">
        <h1 class="display-6 fst-italic">No featured article at the moment!</h1>
    </div>
</div>
{% endif %}

<!-- Get all posts from db -->
<div class="row mb-2">
    {% for post in posts %}
    <div class="col-md-6 ">
        <div class="row bg-post g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-1 text-primary-emphasis">
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.category_name %}">
                            {{ category.category_name }}
                        </a>
                    {% endfor %}
                </strong>
                <h5 class="mb-0">{{ post.post_title }}</h5>
                <div class="mb-1 text-body-secondary">{{ post.created_on | date:'D d M Y' }}</div>
                <p class="card-text mb-auto">{{ post.post_content | slice:':75' }}...</p>
                
                <a href="{% url 'blog_detail' post.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                    {{ post.num_comments }} comment(s) <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="{{ post.post_banner.url  }}" width="180px" class="img-fluid" />
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card mb-3">
        <div class="card-body">
            <p>No articles available at the moment!</p>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}